{
  "presets": [
    "react",
    "flow",
    ["env", { "modules": false, "loose": true }]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
