# Editors
.idea
.vscode

# Dependencies
node_modules/

# Tests
test/

# Stories
stories/

# Generated site & stories
site/
.storybook/

# Coverage reports
coverage/

# yarn
yarn.lock

# CI
.travis.yml

# logs
yarn-error.log
npm-debug.log
npm-debug.log.*

# MacOS
.DS_Store
